extends layout.pug

block content
  form(action="/forgot-password" class="ds-form" method="post" name="Forgot password")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        div(class="_ds-form text")
          label(for="email") Email
          input(autocapitalize="none" autocomplete="email" id="email" name="email" placeholder="contact@quentinburgniard.com" required type="email")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        button(class="ds-link" type="submit")
          div(class="_ds-link body")
            div(class="_ds-link title") Reset password
          div(class="_ds-link action-icon")
            i(class="bi bi-box-arrow-in-right")