extends layout.pug

block content
  form(action="/reset-password" class="ds-form" method="post" name="Reset password")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        div(class="_ds-form text")
          label(for="password") Password
          input(autocapitalize="none" autocomplete="new-password" id="password" name="password" required type="password")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        div(class="_ds-form text")
          label(for="password") Confirm password
          input(autocapitalize="none" autocomplete="new-password" id="confirm-password" name="passwordConfirmation" required type="password")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        button(class="ds-link" type="submit")
          div(class="_ds-link body")
            div(class="_ds-link title") Reset password
          div(class="_ds-link action-icon")
            i(class="bi bi-box-arrow-in-right")
    input(name="token" required type="hidden" value=token)